/*@CHARSET "ISO-8859-1";*/
/* html selectors styling */
* {
	margin:0;
	padding:0;
}

html {
	height: 100%;
	width: 100%;
	background-color: #f2f2f2;
	font-family: Arial,sans-serif;
    font-size: 1.1em;
}

body {
	height: 100%;
	background-color: white;
	margin: 0;
}

/* end of html selector styles */

#nav {
	width: 100%;
	height: 10%;
	background-color: #bfbfbf;
}

/* this is the wrapper for the whole site 
   location: template.xhtml */
.container {
 	display: flex;
 	width: 100%;
    position: relative;
    overflow: hidden;
    
}

/* styles for the HEADER BANNER 
   .head - located template.xhtml */
.head {
	background: #F5F5F5;
	border-radius: 0;
	border: 0;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	overflow:hidden;
}
/*.headLogo located on index.xhtml */
.headLogo {
	background: #F5F5F5;
	display: flex;
	margin:auto;
	justify-content: center;
	padding-bottom: 2.5vh;
	padding-top:2.5vh;
}

/* .headText located index.xhtml */
.headText {
	display:flex;
	flex-direction: column;
	padding-top:5vh;
}

.headText h1 {
	font-size: 2em;
}

.headText h3 {
	font-size: 1em;
}

/* header logo size */
.logo {
	height: 20vh;
}


/* end of head banner styles */

/* Main content part Login Page styles 
   .mainContent located in template.xhtml */
.mainContent {
	background: #F5F5F5;
	border-radius: 0;
	border: 0;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	overflow:hidden;
	
}

/* title of page - index.xhtml */
.title {
	text-align:center;
	margin-top: 2vh;
	margin-bottom: 3vh;
}

/* login form controls - index.xhtml */
.loginCtrl {
	display:flex;
	justify-content:center;
}

/* Login input console styles - index.xhtml */
.loginInput {
	border: 2px black solid;
	padding: 7vh;
	border-radius: 2vh;
	-webkit-box-shadow: 10px 10px 32px -14px rgba(58,58,58,1);
	-moz-box-shadow: 10px 10px 32px -14px rgba(58,58,58,1);
	box-shadow: 10px 10px 32px -14px rgba(58,58,58,1);
}

/* the div that holds the login button - index.xhtml */
#loginBtn {
	float:right;
	margin-top: 3vh;
	margin-bottom: 3vh;
}


/*Login button itself - index.xhtml */
.logButton {
	background:white !important;
	padding-left: 2vh;
	padding-right: 2vh;
	border: 2px black solid !important;
	-webkit-box-shadow: 10px 10px 32px -14px rgba(58,58,58,1);
	-moz-box-shadow: 10px 10px 32px -14px rgba(58,58,58,1);
	box-shadow: 10px 10px 32px -14px rgba(58,58,58,1);
}

/* FOOTER BAR styles here 
   footerBar located in footer.xhtml template file */
.footerBar {
	background: #F5F5F5;
	border-radius: 0;
	border: 0;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	overflow:hidden;
}

/*footer located in footer.xhtml */
.footer {
	background: #F5F5F5;
	display:flex;	
	padding-bottom: 5vh;
	padding-top: 5vh;
}

/*leftFoot located in footer.xhtml
  this controls the left text block in footer */
.leftFoot {
	justify-content:left;
	margin-left:60vh;

}

/* rightFoot located in footer.xhtml 
   right foot controls the right text block in footer*/
.rightFoot {
	justify-content:right;
	margin-left:60vh;
}
/* controls main text for footer */
.footInfo {
	font-size: .75em;
	font-weight:bold;
}
/*controls the text for the copyright statement in footer*/
.footCopy {
	font-size: .5em;
}

/* styles text in the footer for contact admin button */
.contactUsLink {
	font-size: .75em;
	color: blue !important;
	text-decoration: none;
}
/*attempt at pseudo classing the link in footer, 
	will have to look at how to do thsi in JSF later */
.contactUsLink\:hover {
	color: #4f4f4f;
}

/* End of the footer banner styles */


/*Menubar/nav bar styles start here 
 menubar is located in header.xhtml */
.ui-menubar,.ui-menu-child,.ui-menu {
	margin-left: 10vh;
	margin-top:7vh;
	background: #F5F5F5;
	border:none;
}
/*menu bar styles end here */

/* home content styles start here 
	located - home.xhtml */
.homeContent {
	margin:auto;
	text-align:center;
}	
	

/*  this is pending deletion, i jsut don't want to delete it quite yet 
in case someone needs it, but as far as i can tell they are no longer in use 
- armin toussi 
#navContent h1 {
	display: inline;
}

#navContent {
	width: 30%;
	margin: auto;
	padding-top: 2%;
}

#navList {
	display: inline;
	margin: auto;
	padding-top: 3%;
}

#navList li {
	display: inline;
	padding-right: 3%;
}

#navList li a {
	color: black;
	text-decoration: none;
}

#navList li:hover {
	background-color: white;
} */

#content {
	width: 100%;
}

#content h1 {
	width: 20%;
	margin: auto;
}

#timesheetHeader {
	width: 25%;
	margin: auto;
}

.headerPart {
	display: inline;
	float: left;
	margin-right: 2%;
}

.headerPart p {
	display: inline;
}

form {
	clear: left;
}

#approverForm {
	width: 50%;
	margin: auto;
}

#approveTable {
	border-spacing: 1%;
}